* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'myfont';
    src: url('../fonts/comsc.ttf');
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.container {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    border: 10px solid pink;
    border-radius: 5px;
}

.card {
    margin: 0 auto;
}
